.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $color-background-dark;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    color: $color-text-light;
  }
}

.address__footer {
  margin-right: 70px;
}
